.container {
    padding-left: 35%;
    padding-right: 35%;
    font-size: larger;
}

.container-res {
    padding-left: 10%;
    padding-right: 10%;
    font-size: larger;
}

.buttonAlign {
    text-align: center;
    cursor: pointer;
}

.result {
    margin-top: 2.5%;
    font-size: larger;
    text-align: center;
    cursor: text;
}

.res {
    cursor: text;
    text-align: center;
}

.button {
    margin-top: 5%;
}

.g {
    margin-left: 15%;
    float: left;
}

.c {
    margin-right: 15%;
    float: right;
}
