.container {
    padding-left: 35%;
    padding-right: 35%;
    font-size: larger;
}

.button {
    text-align: center;
}

.result {
    margin-top: 15%;
    font-size: larger;
    text-align: center;
}