.container {
    padding-left: 35%;
    padding-right: 35%;
    font-size: larger;
}

.buttonAlign {
    text-align: center;
    cursor: pointer;
}

.result {
    margin-top: 15%;
    font-size: larger;
    text-align: center;
    cursor: text;
}

.res {
    cursor: text;
}

.button {
    background-color: #1976d2;
    color: white;
}
