<form [formGroup]="bmiForm" (ngSubmit)="onSubmit()">
<div class="container">
    <div>
        <label for="feet">Height: </label>
        <input formControlName="feet" type="number" class="form-control" placeholder="{{heightTextOne}}">&nbsp;
        <div [hidden]="!type"><input class="form-control" type="number" formControlName="inches" placeholder="{{heightTextTwo}}"></div>&nbsp;
    </div>

    <div>
        <label for="pounds">Weight: </label>
        <input formControlName="pounds" class="form-control" type="number" placeholder="{{weightText}}">&nbsp;
    </div>
    
    <div class="button">
        <button type="submit" class="btn btn-primary" [disabled]="bmiForm.invalid">Submit</button>
    </div>

    <div class="result">
        <label for="result">Your BMI: </label>
        <input class="form-control" formControlName="result">
    </div>
</div>
</form>
