<mat-card class="info themel">
    <mat-card-title>
        Password Generator
    </mat-card-title>
    <mat-card-content>
        <p><strong>1. Enter a length between 4 and 99 characters.</strong></p>
        <p><strong>2. Select whether you would like to include special characters or not.</strong></p>
        <p><strong>3. Generate the password, and if you like it, copy it to your clipboard!</strong></p>&nbsp;
        <p><small><em>This is QuikPass version 2.0. Version 3.0 will include more customization options.</em></small></p>
    </mat-card-content>
</mat-card>

<mat-card class="content themel">
    <app-quik-pass-form>
        
    </app-quik-pass-form>
</mat-card>

<mat-card class="content themel">
    <mat-card-title>
        Download QuikPass 1.0 (Java CLI)
    </mat-card-title>
    <mat-card-content>
        <a draggable="false" href="https://github.com/awhic/quik-pass/archive/refs/tags/v1.0.0.zip"><button mat-raised-button color="primary">QuikPass 1.0 source.zip</button></a>
    </mat-card-content>
</mat-card>