<!-- Toolbar -->
<div class="toolbar" role="banner">

  <img
    width="40"
    alt="BMIRite Logo"
    src="favicon.ico"
  />

  <div class="spacer"></div>

  <a aria-label="Github" target="_blank" rel="noopener" href="https://github.com/awhic" title="Github">
    <img
      width="48"
      height="48"
      alt="Github"
      src="assets/github.png"
      draggable="false"
    />
  </a>

  <a aria-label="YouTube" target="_blank" rel="noopener" href="https://youtube.com" title="Youtube">
    <img
      width="33"
      height="24"
      alt="Github"
      src="assets/youtube.png"
      draggable="false"
    />
  </a>
  
</div>

<!-- Content -->
<div class="content">
  <app-bmi-calculator-content></app-bmi-calculator-content>
</div>

<router-outlet></router-outlet>
