<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img draggable="false" class="logo" width="40" alt="BMIRite Logo" src="favicon.ico" />
  <span class="title">LexTools</span>
  <nav>
      <ul class="navbar-custom">
          <li><a matRipple class='nav-link-custom' routerLinkActive='active' routerLink="/home">Home</a></li>
          <li><a matRipple class='nav-link-custom' routerLinkActive='active' routerLink="/fridae">Financials</a></li>
          <li><a matRipple class='nav-link-custom' routerLinkActive='active' routerLink="/bmi">BMI Calculator</a></li>
          <li><a matRipple class='nav-link-custom' routerLinkActive='active' routerLink="/password">Password Generator</a></li>
      </ul>
  </nav>
  <div class="spacer">
  </div>
  <mat-slide-toggle (change)="changeTheme()" [color]="switchColor" [checked]="themeSelect" class="themeSwitch" 
    #tooltip="matTooltip" matTooltip="Theme Selector is currently under development." [matTooltipPosition]="position.value">
  </mat-slide-toggle>
  <span>&nbsp;</span><span>&nbsp;</span><img draggable="false" width="24" height="24" src="/assets/sun.png" [hidden]="themeSelect" />
  <img draggable="false" width="24" height="24" src="/assets/moon.png" [hidden]="!themeSelect" />
  <span class="vertical-line"></span>
  <a matRipple draggable="false" class="git" aria-label="Github" target="_blank" rel="noopener" href="https://github.com/awhic" title="Github">
      <img draggable="false" width="24" height="24" src="/assets/github.png" />
  </a>
  <a matRipple draggable="false" class="yt" aria-label="Stack_Overflow" target="_blank" rel="noopener" title="Stack Overflow" href="https://stackoverflow.com/users/17918533/awxk">
    <img draggable="false" width="24" height="22" src="/assets/stackoverflow.png" />
</a>
  <a matRipple draggable="false" class="yt" aria-label="Reddit" target="_blank" rel="noopener" title="Reddit" href="https://www.reddit.com/user/awxk">
    <img draggable="false" width="24" height="26" src="/assets/reddit.png" />
</a>
<a matRipple draggable="false" class="yt" aria-label="SoloLearn" target="_blank" rel="noopener" title="SoloLearn" href="https://www.sololearn.com/profile/20573263">
  <img draggable="false" width="24" height="23" src="/assets/sololearn.png" />
</a>
  <a matRipple draggable="false" class="yt" aria-label="YouTube" target="_blank" rel="noopener" href="https://youtube.com" title="Youtube">
    <img draggable="false" width="24" height="18" src="/assets/youtube.png" />
</a>
</div>
<!-- Content -->
<div>
  <router-outlet id="page"></router-outlet>
</div>