.main {
    margin: 90px 30px 30px 30px;
    background-color: #444;
}

.tab-data-card {
    margin: 0% 50.5% 0% 0%;
    background-color: #555;
    color: white;
    // float: left;
}

.graph-card {
    margin: 0% 0% 0% 50.5%;
    background-color: #555;
    color: white;
}